## DATA ANALYST GRUP 7 REPTE TURISME

#### CONEXIÓ

In [71]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, time, datetime
import pymysql

df_2023_1s = pd.read_csv("C:/Users/ueret/OneDrive/Escritorio/HACKATÓ/Dataset/2023_1S_XarxaSoroll_EqMonitor_Dades_1Hora.csv")
df_2023_2s = pd.read_csv("C:/Users/ueret/OneDrive/Escritorio/HACKATÓ/Dataset/2023_2S_XarxaSoroll_EqMonitor_Dades_1Hora.csv")
df_2022_1s = pd.read_csv("C:/Users/ueret/OneDrive/Escritorio/HACKATÓ/Dataset/2022_1S_XarxaSoroll_EqMonitor_Dades_1Hora.csv")
df_2022_2s = pd.read_csv("C:/Users/ueret/OneDrive/Escritorio/HACKATÓ/Dataset/2022_2S_XarxaSoroll_EqMonitor_Dades_1Hora.csv")
df_2021_1s = pd.read_csv("C:/Users/ueret/OneDrive/Escritorio/HACKATÓ/Dataset/2021_1S_XarxaSoroll_EqMonitor_Dades_1Hora.csv")
df_2021_2s = pd.read_csv("C:/Users/ueret/OneDrive/Escritorio/HACKATÓ/Dataset/2021_2S_XarxaSoroll_EqMonitor_Dades_1Hora.csv")

In [72]:
df_2023_1s.head()

    Any  Mes  Dia   Hora  Id_Instal  Nivell_LAeq_1h
0  2023    5    9  15:00       8026            63.4
1  2023    5    9  16:00       8026            68.7
2  2023    5    9  17:00       8026            60.1
3  2023    5    9  18:00       8026            61.2
4  2023    5    9  19:00       8026            60.7

In [73]:
df_2021.head()

    Any  Mes  Dia   Hora  Id_Instal  Nivell_LAeq_1h
0  2021    2    3  10:00       5207            72.4
1  2021    2    3  11:00       5207            63.5
2  2021    2    3  12:00       5207            63.0
3  2021    2    3  13:00       5207            62.8
4  2021    2    3  14:00       5207            61.5

In [74]:
df_2021 = pd.concat([df_2021_1s, df_2021_2s], ignore_index=True)
df_2022 = pd.concat([df_2022_1s, df_2022_2s], ignore_index=True)
df_2023 = pd.concat([df_2023_1s, df_2023_2s], ignore_index=True)

In [83]:
valors_id_instal = [6756,5766,497,7306,7506,6306,6886,7567,6026]  # Substitueix amb els valors que necessitis

# Filtrar el dataframe per obtenir només les files amb els valors especificats
df_2023_filtrat_llocs = df_2023[df_2023['Id_Instal'].isin(valors_id_instal)]
df_2022_filtrat_llocs = df_2022[df_2022['Id_Instal'].isin(valors_id_instal)]
df_2021_filtrat_llocs = df_2021[df_2021['Id_Instal'].isin(valors_id_instal)]

FEM LA NETEJA ABANS DE SEGUIR AMB LA CIMPILACIÓ DEL DF FINAL

In [76]:
#df_2023_filtrat_llocs.isnull().sum()
#(df_2023_filtrat_llocs == '').sum()

df_2023_filtrat_llocs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68623 entries, 111384 to 1279125
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Any             68623 non-null  int64
 1   Mes             68623 non-null  int64
 2   Dia             68623 non-null  int64
 3   Hora            68623 non-null  object
 4   Id_Instal       68623 non-null  int64
 5   Nivell_LAeq_1h  68623 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 3.7+ MB

In [85]:
#df_2022_filtrat_llocs.isnull().sum()
#(df_2022_filtrat_llocs == '').sum()

df_2022_filtrat_llocs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46482 entries, 119400 to 1085454
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Any             46482 non-null  int64
 1   Mes             46482 non-null  int64
 2   Dia             46482 non-null  int64
 3   Hora            46482 non-null  object
 4   Id_Instal       46482 non-null  int64
 5   Nivell_LAeq_1h  46482 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.5+ MB

In [86]:
#df_2021_filtrat_llocs.isnull().sum()
#(df_2021_filtrat_llocs == '').sum()

df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016794 entries, 0 to 1016793
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Any             1016794 non-null  int64
 1   Mes             1016794 non-null  int64
 2   Dia             1016794 non-null  int64
 3   Hora            1016794 non-null  object
 4   Id_Instal       1016794 non-null  int64
 5   Nivell_LAeq_1h  1016794 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 46.5+ MB

In [87]:
df_2023_filtrat_llocs.describe()

           Any           Mes           Dia     Id_Instal  Nivell_LAeq_1h
count  77360.0  77360.000000  77360.000000  77360.000000    77360.000000
mean    2023.0      6.494997     15.612603   6067.006502       62.514952
std        0.0      3.435809      8.793110   2059.917840        5.974678
min     2023.0      1.000000      1.000000    497.000000       34.700000
25%     2023.0      4.000000      8.000000   6026.000000       59.500000
50%     2023.0      7.000000     16.000000   6756.000000       62.900000
75%     2023.0      9.000000     23.000000   7306.000000       66.400000
max     2023.0     12.000000     31.000000   7567.000000       95.700000

Al 2021 veiem que no hi ha cap dels punts d'escolta escollits.
Ens n'adonem que el dataset original no es tan complert com pensavem. Els punts d'escolta van caducant i apareixent constanment.

Per això abandonem la idea de fer una mitjana de les escoltes del últims anys i triem altres punts que estiguin presents durant tot el 2023 per poder tenir dades de tot l'any i predir el nivell de soroll en qualsevol dia de l'any a les zones triades.

In [84]:
df_2022_filtrat_llocs.to_csv("C:/Users/ueret/OneDrive/Escritorio/HACKATÓ/Dataset/df_2022.csv", index=False)

Continuem a Power Bi per fer les mesures i la categorització ponderada per cada punt de les lectures de soroll.